@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*min-height: 100vh;*/
}

h1{
    font-size: 3em;
    text-align: center;
    margin: 15px;
}

#pollID{
    padding: 10px;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
}

#pollID:focus{
    outline: none;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 60vw;
}

.join-btn,.create-new-btn{
    margin: 10px 10px 10px;
    width: 100%;
    max-height: 7.5vh;
    padding: 10px;
    background-color: #9c88ff;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.join-btn:focus,.create-new-btn:focus{
    outline: none;
}


.form-container{
    display: flex;
    flex-direction: column;
}

.chart-container{
    float: left;
    width: 50%;
}

@media(max-width:700px){
    .chart-container{
        width: 100%;
    }
}
*/
/* for mobile screens*/
[class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
