@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1{
    font-size: 50px;
}

input{
    padding: 10px;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
}

input:focus{
    outline: none;
}

.button-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.new-poll-form{
    width: 70vw;
    max-width: 600px;
}

button{
    margin: 10px 10px 10px;
    width: 100%;
    padding: 10px;
    background-color: #9c88ff;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

button:focus{
    outline: none;
}
