@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.vote-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-controls{
    display: flex;
    justify-content: space-around;
}

input[type='radio']{
    display: none;
}

label{
    position: relative;
    color: #01cc65;
    font-size: 30px;
    border: 2px solid #01cc65;
    border-radius: 5px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

label:before{
    content: "";
    height: 30px;
    width: 30px;
    border: 3px solid #01cc65;
    border-radius: 50%;
    margin-right: 20px;
}

input[type="radio"]:checked + label{
    background-color: #01cc65;
    color: white;
}

input[type="radio"]:checked + label:before{
    height: 16px;
    width: 16px;
    border: 10px solid white;
    background-color: #01cc65;
}

#submit-btn{
    margin: 10px 10px 10px;
    width: 20%;
    padding: 10px;
    background-color: #9c88ff;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    cursor: pointer;
}